@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Vivaldi';
  src: url('/fuentes/VIVALDII.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Copper Plate Gothic Bold';
  src: url('/fuentes/copperplategothic_bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
}

button svg {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  opacity: 1;
}